@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Impressum</h2>
<table class="pTab">
    <tr>
        <td class="pTabHeader">
            Martin Korneffel IT-Beratung/Softwareentwicklung
        </td>
    </tr>
    <tr>
        <td class="pTabItem">
            <table>
                <tr>
                    <td>
                        Telefon
                    </td>
                    <td>
                        +49 (0)711 52 83 392
                    </td>
                </tr>
                <tr>
                    <td>
                        email
                    </td>
                    <td>
                        Martin.Korneffel@t-online.de
                    </td>
                </tr>
                <tr>
                    <td>
                        web
                    </td>
                    <td>
                        <a href="http://www.mkoit.de" target="_blank">www.mkoit.de</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Postanschrift
                    </td>
                    <td>
                        Martin Korneffel, Hans-Kächele-Str. 11, 70599 Stuttgart
                    </td>
                </tr>
                <tr>
                    <td>
                        Firmensitz
                    </td>
                    <td>
                        Martin Korneffel, Hans-Kächele-Str. 11, 70599 Stuttgart
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="pTabHeader">
            ASP.NET MVC Einführung
        </td>
    </tr>
    <tr>
        <td class="pTabItem"></td>
    </tr>
    <tr>
        <td class="pTabHeader">
            mko.Lib
        </td>
    </tr>
    <tr>
        <td class="pTabItem"></td>
    </tr>
    <tr>
        <td class="pTabHeader"></td>
    </tr>
    <tr>
        <td class="pTabItem">
            <article>
                <h1>Lizenz (Nutzungsbedingungen)</h1>
                &copy; Copyright 2017 Martin Korneffel
                <p>
                    Martin Korneffel erteilt hiermit eine nichtexklusive Lizenz zur Nutzung der Software
                    "ASP.NET MVC Einführung", im weiteren als Software bezeichnet, unter folgenden
                    Bedingungen:
                </p>
                <p>
                    <ol>
                        <li>
                            Das Erstellen abgeleiteter Werke auf der Grundlage der Software ist unter Beachtung des Urheberrechtes erlaubt.
                        </li>
                        <li>Das Vermieten, Leasen oder Übertragen anderer Rechte an der Software ist verboten</li>
                        <li>Das Entfernen der Urheberrechtshinweise oder-Etiketten auf der Software ist verboten</li>
                    </ol>
                </p>
                <h3>
                    Kündigung
                </h3>
                <p>
                    Die Lizenz endet automatisch, wenn die oben definierten Nutzungsbedingungen nicht
                    eingehalten werden. Nach der Kündigung sind Sie verpflichtet, alle Kopien der Software
                    und Dokumentation zu vernichten.
                </p>
                <h3>
                    Haftungsausschluss
                </h3>
                <p>
                    Martin Korneffel übernimmt für eventuelle Schäden, die bei der Nutzung der Softeware
                    entstehen, keinerlei Haftung und Gewährleistung.
                </p>
                <p>
                    Die Verantwortung für eventuelle Schäden durch Ausführung der Software liegt einzig
                    und allein beim Nutzer der Software.
                </p>
                <h3>
                    Urheberrechtshinweise
                </h3>
                <p>
                    Titel, Eigentumsrechte und Rechte an geistigem Eigentum in und an der Software verbleiben
                    bei Martin Korneffel. Die Software ist durch das Urheberrecht geschützt.
                </p>
            </article>
        </td>
    </tr>
</table>
