@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Timeline</h1>
    <p>
        <a href="http://mk-prg-net.de" class="btn btn-primary btn-lg">mk-prg-net.de &raquo;</a>
        <a href="http://mk-prg-net.de/Woc/woc?wocId=net.asp.mvc.html" class="btn btn-primary btn-lg">ASP.MVC Skripte &raquo;</a>
        <a href="http://asp.net" class="btn btn-primary btn-lg">offizeille Doku &raquo;</a>
    </p>
</div>

<ul class="tiled">

    <li>
        <a href="@Url.Action("Index", new{controller="Appointment"})">
            Terminkalender<br />
            <span class="glyphicon glyphicon-list"></span> <br />
            Terminkalender als Repositiory implementiert
        </a>
    </li>

</ul>